<div id="bitcoin"></div>
<div id="ethereum"></div>

<%= link_to 'Bitcoin', bit_path ,class: "btn btn-primary", id: "ethbtn", remote: true %>
<%= link_to 'ETH vs BTC', root_path, class: "btn btn-default", id: "ethbtn", remote: true  %>
<%= link_to 'Ethereum', eth_path, class: "btn btn-info", id: "ethbtn", remote: true  %>

<br>
<div id="chart-container" style="height: 500px; min-width: 500px"></div>
